/* 
#--------------#
#  Global CSS  #
#--------------#
*/

:root {
    /* Nav */
    --nav: #2e343a;
    --nav-hover: #393f44;

    /* Header */
    --header-bg: #48515a;
    --header-light: #636e7a;
    --header: #ffffff;
    --header2: #e2e2e2;

    /* Page Background */
    --light: #d4dce4;
    
    /* Icons */
    --user: #5e855f;
    --info: #62869c;

    /* Misc */
    --skillset: #f5f7fa;
    --tags: #939ba3;
}

    /* Mobile Columns Fix */
    .columns {
        margin: 0 !important;
    }

    .subtitle {
        padding-top: 5px;
    }

/* 
#------------------#
#  Navigation Bar  #
#------------------#
*/

@media only screen and (min-width: 1088px) {
    .fa-envelope {
        display: none;
    }
}


    .navbar.is-dark {
        background-color: var(--nav);
    }

    .navbar-item {
        font-size: 16px;
        font-weight: 300;
    }

    a.navbar-item:hover {
        background-color: var(--nav-hover) !important;
        border-bottom: 2px solid var(--header);
    }

    .active {
        background-color: var(--nav-hover) !important;
        border-bottom: 2px solid var(--header);
    }

    .navbar-end {
        margin-right: 20px;
    }

    .fa-envelope {
        font-size: 24px;
    }

/* 
#------------------#
#  Header Section  #
#------------------#
*/

@media only screen and (max-width: 1088px) {
    .hero-body {
        height: 40vh;
    }
}

@media only screen and (min-width: 1088px) {
    .main-header .hero-body {
        height: 75vh;
    }
}


    .hero-body.nav-fix {
        text-align: center;
        position: relative;
    }

    .center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .nav-fix {
        margin-top: 100px;
    }


    .hero.is-dark {
        background-color: var(--header-bg);
    }

    .main-header {
        border-bottom: 10px solid var(--nav);
    }

    .title.main-text {
        color: var(--header) !important;
    }

    .subtitle.main-text {
        color: var(--header2) !important;
    }

/* 
#--------------------#
#  Services Section  #
#--------------------#
*/

#services {
    position: absolute;
    top: 70%;
}

@media only screen and (max-width: 768px) {
    
    .notification.is-info {
        background-color: var(--header-bg) !important;
        margin: 10%;
        margin-bottom: 0;
    }
    
}

@media only screen and (min-width: 768px) {
    
    .notification.is-info {
        background-color: var(--header-bg) !important;
        margin: 2%;
        margin-bottom: 0%
    }
}

    .has-background-light {
        background-color: var(--skillset) !important;
    }

    .fa-user-circle {
        color: var(--user);
    }

    .fa-info-circle {
        color: var(--info);
    }




/* 
#---------------------#
#  Portfolio Section  #
#---------------------#
*/

@media only screen and (max-width: 1088px) {
    
    .hero .box {
        margin: 5% auto;
        padding: 0;
        width: 80%;
        box-shadow: none;
    }
    
}

@media only screen and (min-width: 1088px) {
    
    .hero .box {
        margin: 0 auto;
        margin-top: 3%;
        margin-bottom: 5%;
        padding: 0;
        width: 80%;
        box-shadow: none;
    }
    
}

    .hero.is-light {
        background-color: var(--light);
        color: #363636;
    }


    .hero-top {
        background-color: var(--header-bg);
        border-radius: 6px 6px 0 0;
        padding: 20px;
    }

    .is-white {
        color: whitesmoke !important;
        font-weight: 300;
    }

    #languages {
        height: 100%;
    }
    
    /* Filter Tags */

    .slider {
    overflow-y: hidden;
    max-height: 300px; /* approximate max height */
    
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0.5, 1, 0.5, 1);
    }
    
    .slider.closed {
    max-height: 0;
    }
    
    .is-tags {
        background-color: var(--tags);
        border-radius: 0 0 5px 6px;
        margin: 0 10px;
        -webkit-user-select: none;  /* Chrome all / Safari all */
        -moz-user-select: none;     /* Firefox all */
        -ms-user-select: none;      /* IE 10+ */
        user-select: none;   /* Likely future */  
    }
    
    .tag {
        margin: 10px 1px;
        cursor: pointer;
    }

    .tag:hover {
        background-color: var(--header2);
    }

    .tag.is-info {
        background-color: var(--header-bg) !important;
        margin: 10px 1px;
    }

    
    .tag.clear-filters {
        margin-right: 1%;
        margin-left: -5%;
    }
    
    .tag.clear-filters:hover {
        background-color: var(--header-light) !important;
    }


    /* Portfolio Cards */
    
    .column .card {
        margin: 0 auto;
    }

    h3.subtitle {
        margin-bottom: 10px !important;
    }

    .card {
        color: whitesmoke;
        border-radius: 13px;
        box-shadow: none;
        width: 80%;
    }

    .card-image {
        border: none;
    }

    .card-footer {
        background-color: var(--header-bg);
        border-radius: 0 0 13px 13px;
    }

    .card-footer-item {
        padding: 5px;
        font-size: 14px;
    }

    .project-thumb {
        border-radius: 12px 12px 0 0;
    }

    .filtered {
        opacity: .2;
    }

/* 
#------------------#
#  Footer Section  #
#------------------#
*/

    .footer {
        border-top: 5px solid var(--nav);
        padding: 0;
    }

    .container {
        /* text-align: center; */
        color: #6c7a88;
    }

    .container .fab {
        font-size: 24px;
        padding: 30px 15px 30px 15px;
    }

    .container .fab:hover {
        color: #adb3b9;
    }